<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a class="<%= path === '/' ? 'active':''%>" href="/">Home</a></li>
            <li class="main-header-item"><a class="<%= path === '/products' ? 'active':''%>" href="/products">Books</a></li>
            <% if(isAuthenticated) {%>
            <li class="main-header-item"><a class="<%= path === '/orders' ? 'active':''%>" href="/orders">Orders</a></li>
            <li class="main-header-item"><a class="<%= path === '/cart' ? 'active':''%>" href="/cart">Cart</a></li>
            <li class="main-header-item"><a class="<%= path === '/checkout' ? 'active':''%>" href="/checkout">Free e-books</a></li>
            <li class="main-header-item"><a class="<%= path === '/add-product' ? 'active':''%>" href="/add-product">Add book</a></li>
            <li class="main-header-item"><a class="<%= path === '/admin-products' ? 'active':''%>" href="/admin-products">Admin books</a></li>
            <% }%>
        </ul>
        <ul class="main-header-item-list">
            <% if(!isAuthenticated) {%>
            <li>
                <button id="ten">Signup for more features</button></li>  
            
            <li class="main-header-item"><a class="<%= path === '/login' ? 'active':''%>" href="/login">login</a></li>
            <li class="main-header-item"><a class="<%= path === '/signup' ? 'active':''%>" href="/signup">signup</a></li>
            <% } else {%>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
                    <button class="logoutbtn" type="submit">logout</button>
                </form>
            <% }%>


        </ul>

    </nav>
    </header>