<%- include('../includes/head.ejs')%>
<body>
    <%- include('../includes/navigation.ejs')%>


    <main class="centered">
        <h1 class="product_title"><%= product.volumeInfo.title %></h1>
        <hr>
        <div class="product-item">
        <img src="http://books.google.com/books/content?id=<%=product.id%>&printsec=frontcover&img=1&zoom=6&edge=curl&source=gbs_api" alt="<%= product.volumeInfo.title %>">                        
        </div>
        <h2 class="product_price">Price: Rs.<%= Math.floor(Math.random()*((1000-100)+100))%></h2>
        <p class="product_des"><%=product.volumeInfo.description%></p>
        <div class="card-actions">
            <% if(isAuthenticated){ %>

            <form class="addtocart" action="/cart" method="post">
                <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
                <button class="btn">Add to cart</button>
                <input type="hidden" name="productId" value="<%=product.id%>">
            </form>
            <form class="addtocart" action="/checkout" method="post">
                <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
                <button class="btn">Add to checkout</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
            <% } %>
        </div>
    </main>

    <%- include('../includes/end.ejs')%>
